# Ignore data, results, logs and test directories
data/
results/
logs/

# Build artifacts
src/*.o
src/pgtools

# Ignore workflow logs
workflow/logs/
workflow/logs/**

# Ignore hidden files/directories inside workflow
workflow/**/.*
workflow/**/.*/**
# Ignore files starting with "snakemake_"
workflow/**/snakemake_*

# Ignore nohup output files
nohup.out