# Ignore data, results, logs and test directories
data/
results/
logs/

# Build artifacts
src/*.o
src/pgtools

# Ignore workflow logs, data, and results
workflows/**/logs/
workflows/**/logs/**
workflows/**/data/
workflows/**/data/**
workflows/**/results/
workflows/**/results/**

# Ignore hidden files/directories inside workflow
workflows/**/.*
workflows/**/.**/

# Ignore nohup output files
nohup.out